[mysqld]
# Server identification 
server-id = 2

# Binary logging for replication
log-bin = mysql-bin
binlog-format = ROW

# GTID configuration  
gtid-mode = ON
enforce-gtid-consistency = ON

# Replication settings
log-slave-updates = ON
relay-log = relay-log
read-only = ON
relay-log-recovery = ON

# FIXED REPLICATION FILTERS
replicate-wild-do-table = testdb.%           
replicate-wild-ignore-table = mysql.%       
replicate-wild-ignore-table = sys.%         
replicate-wild-ignore-table = performance_schema.%  
replicate-wild-ignore-table = information_schema.%   


# Network binding
bind-address = 0.0.0.0

# Important for CDC/Debezium:
expire-logs-days = 10
max-binlog-size = 100M
binlog-row-image = FULL